body {
    background-color: bisque;
}

h1 {
    background-color: pink; 
    color: blueviolet;
}

p {
    color: brown;
    background-color: gold;
}

h2 {
    background-color: silver;
    color: yellowgreen;
}

h1, p, h2 {
    text-align: center;
}

ol {
    padding:  0;
  }
  
  li {
    list-style-position: inside;
    width: 50px;
    margin: auto;
  }