body {
    background-color: bisque;
}
.item1 {
    color: blueviolet;
    width: 30px;
    background-color: silver;
 
}
.item2 {
    color: brown;
    width: 30px;
    background-color: gold;
}
.item3 {
    color: yellowgreen;
    width: 30px;
    background-color: pink;
}
.item4 {
    color: royalblue;
    width: 30px;
    background-color: orange;
}